{
  "extends": ["airbnb"],
  "presets": ["es2015", "stage-0"],
  "rules": {
    "arrow-parens": 0,
    "import/extensions": [2, "never"],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "max-statements-per-line": [2, { "max": 2 }],
    "semi": [2, "never"],
    "comma-dangle": 0,
    "one-var": [2, "never"],
    "no-cond-assign": [2, "except-parens"],
    "max-len": [2, 80, { "ignoreComments": true }],
    "operator-linebreak": [2, "before"],
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ]
  }
}
